$black-900: #000000;
$black-800: #121315;
$black-700: #25272A;
$black-600: #383B3F;
$black-500--main: #4B4F54;
$black-400: #666666;
$black-300: #999999;
$black-200: #B4BABD;
$black-100: #B4BABD;

$gray-900: #666666;
$gray-800: #747474;
$gray-700: #828282;
$gray-600: #909090;
$gray-500--main: #999999;
$gray-400: #9E9E9E;
$gray-300: #CBCBCB;
$gray-200: #EFEFEF;
$gray-100: #F9F9F9;

$orange-900: #CE4225;
$orange-800: #D5482A;
$orange-700: #DC4E30;
$orange-600: #E35436;
$orange-500--main: #EB5A3C;
$orange-400: #F07D65;
$orange-300: #F5A18E;
$orange-200: #FAC5B7;
$orange-100: #FFE9E0;

$red-900: #D90C34;
$red-800: #DE1234;
$red-700: #E31935;
$red-600: #E31935;
$red-500--main: #EE2737;
$red-400: #F15764;
$red-300: #F58891;
$red-200: #F9B9BE;
$red-100: #FDEAEC;