.sidebar {
    position: relative;
    width: 265px;
    height: 100%;
    padding-top: 16px;
    text-align: left;
    color: #4B4F54;
    overflow: hidden;
    border-right: 1px solid #D8D8D8;
    overflow-y: auto;
}