<!-- <div class="main">
    <ng-container>
        <router-outlet name="navbar"></router-outlet>

        <mat-drawer-container autosize>
            <mat-drawer #drawer mode="side" opened>
                <router-outlet name="sidebar" class="w-20"></router-outlet>
            </mat-drawer>

            <div class="page-content">
                <router-outlet class="w-80"></router-outlet>
            </div>
        </mat-drawer-container>

    </ng-container>

</div> -->
<ng-container>
    <mat-toolbar class="example-header">
        <div class="logo" (click)="goToOrganization()">Logo</div>
        <button class="log-out">登出</button>
    </mat-toolbar>

    <mat-sidenav-container class="container">
        <mat-sidenav #sidenav mode="side" opened class="sidenav">
            <mat-list-item class="nav-item-parent" (click)="toggleParent1()" routerLink="">
                組織
            </mat-list-item>
            <mat-list-item *ngIf="showParent1">
                <a mat-list-item routerLink="" class="nav-item-child">通訊處</a>
                <a mat-list-item routerLink="/organization/outworker" class="nav-item-child">外勤人員</a>
            </mat-list-item>
            
            <mat-list-item class="nav-item-parent" (click)="toggleParent2()">
                打卡紀錄
            </mat-list-item>
            <mat-list-item *ngIf="showParent2">
                <div class="nav-item-child">敬請期待</div>
            </mat-list-item>
                
            <mat-list-item class="nav-item-parent" (click)="toggleParent3()">
                帳號權限
            </mat-list-item>
            <mat-list-item *ngIf="showParent3">
                <div class="nav-item-child">敬請期待</div>
            </mat-list-item>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="menu-btn">
                <div 
                    mat-menu-item 
                    class="menu-icon" 
                    (click)="sidenav.toggle(); toggleSidebar()" 
                    [ngClass]="{'menu-icon-active': isSidebarOpen}"
                ></div>
            </div>
            <div class="page-content">
                <div>麵包屑</div>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

</ng-container>
