<app-dialog-template [title]="dialogStateName[regionData.state]">
    <div content class="d-fl fl-ai-c">
        <div class="label">區域名稱</div>
        <mat-form-field class="relative d-fl fl-ai-c">
            <input matInput type="text" [formControl]="regionCtl">
            <button *ngIf="regionCtl.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="regionCtl.patchValue('')" class="absolute r-0">
                <mat-icon>X</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div actions class="d-fl fl-jc-c">
        <button mat-raised-button class="mg-r-8" matDialogClose>取消</button>
        <button mat-raised-button (click)="save()">確定</button>
    </div>
</app-dialog-template>